<div class="order-one ng-scope">
    <img class="img-aside pizza-icon" src="<%= pizza.icon %>" alt="Pizza">

    <p class="bold mb10 ng-scope">
    <span class="order-title">
    <%= pizza.title %> (<%= size=="big_size" ? "Велика" : "Маленька" %>)
        </span>
    </p>

    <div class="order-text">
        <img class="diagonal-image" src="assets/images/size-icon.svg ">
        <span class="diagonal"><%= pizza[size].size %></span>
        <img class="gram-image" src="assets/images/weight.svg">
        <span class="gram"><%= pizza[size].weight %></span>
    </div>

    <div class="price-box">
        <span class="price"><%= pizza[size].price*quantity %></span>
        <a class="minus btn btn-xs btn-danger btn-circle">
            <i class="glyphicon glyphicon-minus icon-white"></i>
        </a>
        <span class="label order-pizza-count" style="color: black"><%= quantity %></span>
        <a class="plus btn btn-xs btn-success btn-circle">
            <i class="glyphicon glyphicon-plus icon-white"></i>
        </a>

        <a class="count-clear btn btn-xs btn-default btn-circle">
            <i class="glyphicon glyphicon-remove icon-white"></i>
        </a>
    </div>

</div>